<div class="footer">
  <div class="container">
    <div class="row py-5 g-4 m-0">
      <div class="col-md-4 text-center">
        <h2 class="text-white">LOCATION</h2>
        <p class="text-white">2215 John Daniel Drive</p>
        <span class="text-white">Clark, MO 65243</span>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="text-white">AROUND THE WEB</h2>
        <ul class="d-flex justify-content-center">
          <li>
            <i class="fa-brands fa-facebook mx-1 icon text-white"></i>
          </li>
          <li><i class="fa-brands fa-twitter mx-1 icon text-white"></i></li>
          <li><i class="fa-brands fa-linkedin-in mx-1 icon text-white"></i></li>
          <li><i class="fa-solid fa-globe mx-1 icon text-white"></i></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="text-white">ABOUT FREELANCER</h2>
        <p class="text-white">
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom d-flex justify-content-center align-items-center">
  <p class="text-center m-0">Copyright © Your Website 2021</p>
</div>
