<div class="about">
  <div class="container">
    <div class="d-flex vh-100 justify-content-center align-items-center">
      <div class="content text-center">
        <h2>about component</h2>
        <div
          class="d-flex mx-auto justify-content-center align-items-center mb-4"
        >
          <div class="line me-3"></div>
          <i class="fa-solid fa-star text-white"></i>
          <div class="line ms-2"></div>
        </div>
        <div class="pragragh d-flex w-100">
          <p class="text-white me-3 text-start">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization
          </p>
          <p class="text-white text-start">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
