<div class="home">
  <div class="container">
    <div class="d-flex vh-100 justify-content-center align-items-center">
      <div class="content text-center">
        <div class="mx-auto">
          <img src="/portfolio/avataaars.svg" alt="avataaars" />
        </div>
        <h2>Start Framework</h2>
        <div
          class="d-flex mx-auto justify-content-center align-items-center mb-4"
        >
          <div class="line me-3"></div>
          <i class="fa-solid fa-star text-white"></i>
          <div class="line ms-3"></div>
        </div>
        <span class="text-white"
          >Graphic Artist - Web Designer - Illustrator</span
        >
      </div>
    </div>
  </div>
</div>
